header {
    text-align: center;
    /* otsikkokuva keskellä */
    padding: 2rem;
    background-color: #0d281d;
    /* otsikkokuvan taustaväri */
}

header img {
    /* tässä määritetään max leveys otsikkokuvalle */
    max-width: 350px;
    width: 100%;
    height: auto;
}

.painikealue {
    /* tässä painikkeiden asettelua */
    display: flex;
    justify-content: space-around;
    /* antaa tilaa painikkeiden väliin */
    align-items: center;
    /* keskittää pystysuunnassa */
    flex-wrap: wrap;
    /* painikkeet menevät päällekäin jos tila loppuu (mobiilissa)*/
    padding: 2rem;
}

.painikealue img {
    max-width: 180px;
    height: auto;
    margin: 0.5rem;
}

@media (max-width: 150px) {

    /* painikkeiden maksimikoko, jottei ole liian isot mobiilissa */
    .painikealue img {
        max-width: 150px;
    }
}