header {
    text-align: center;
    /* otsikkokuva keskellä */
    padding: 2rem;
    background-color: #0d281d;
    /* otsikkokuvan taustaväri */
}

header img {
    /* tässä määritetään max leveys otsikkokuvalle */
    max-width: 600px;
    width: 100%;
    height: auto;
}