body {
    font-family: 'Poppins', sans-serif;
    /* fontti Poppins */
    color: #ffffff;
    background-color: #0d281d;

    nav a {
        /* navigointitekstin väri */
        color: #ffffff;
        /* Valkoinen teksti */
        text-decoration: none;
        /* Poistaa alleviivauksen */
        padding: 0.5rem;
    }

    nav a.active {
        font-weight: bold;
        text-decoration: underline;
        color: #a8bb5e;
    }



}


/* index.html tästä alkaen */


header {
    text-align: center;
    /* otsikkokuva keskellä */
    padding: 2rem;
    background-color: #0d281d;
    /* otsikkokuvan taustaväri */
}

header img {
    /* tässä määritetään max leveys otsikkokuvalle */
    max-width: 350px;
    width: 100%;
    height: auto;
}

.painikealue {
    /* painikkeiden asettelu vierekkäin */
    display: flex;
    justify-content: space-around;
    /* antaa tilaa väliin */
    align-items: center;
    /* keskittää pystysuunnassa */
    flex-wrap: wrap;
    /* mahdollistaa rivinvaihdon mobiilissa */
    padding: 2rem;
}

.painikealue img {
    max-width: 300px;
    height: auto;
    margin: 0.5rem;
}

@media (max-width: 600px) {
    .painikealue img {
        max-width: 180px;
    }
}



/* tästä eteenpäin maria.html */

/* Selaimella elementit vierekkäin*/
.esittely {
    display: flex;
    /* asettaa elementit vierekkäin */
    justify-content: space-between;
    /* eka elementti iha vasemmalle, toka ihan oikealle */
    align-items: flex-start;
    gap: 2rem;
    /* tila elementtien välillä */
    padding: 2rem;
    /* Noin 32px väli */
    ;
}

.alkuteksti {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.esittelyteksti {
    font-size: 1.1rem;
    line-height: 1.6;
}

.kuva img {
    width: 400px;
    max-height: 500px;
    height: auto;
    border-radius: 8px;
}

/* Mobiilissa allekkain */
@media (max-width: 700px) {
    .esittely {
        flex-direction: column;
        align-items: center;
    }

    .alkuteksti {
        text-align: left;
        padding: 0 1rem;
    }

    .kuva img {
        width: 90%;
        max-width: 300px;
        margin-bottom: 1rem;
    }

    .esittelyteksti {
        text-align: left;
        padding: 0 1rem;

    }
}



/* tästä eteenpäin yhteystiedot.html */

.yhteystiedot {
    font-size: 1.1rem;
    /* Tekstin koko hieman normaalia isompi */
    text-align: center;
    /* Keskittää tekstin vaakasuunnassa */
}

.yhteystiedot p {
    margin-bottom: 1rem;
    /* Väli kappaleiden väliin (n. 16px) */
    line-height: 1.5;
    /* riviväli 1.5x fonttikoko */
}